body {
    font-family: Arial;
    background: #f5f5f5;
}

.container {
    width: 900px;
    margin: auto;
    background: #fff;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
}

.btn {
    padding: 6px 10px;
    background: rgb(210, 158, 223);
    color: #fff;
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
    width: 350px;
    gap: 12px;
}

label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 14px;
}

input[type="text"],
select,
input[type="file"] {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 8px 14px;
    background: #2196f3;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #0b7dda;
}
